fastapi==0.121.2
uvicorn==0.34.0
python-dotenv==1.0.1
python-multipart==0.0.19
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
alembic 
psycopg2-binary
sqlalchemy
pydantic-settings
redis
langchain-google-genai